<div class="file-list container">
  <div class="row">
    <div class="col-sm-6 pull-right">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Folder name" [(ngModel)]="folderName"/> 
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="createNewFolder()" type="button">New Folder!</button>
        </span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of foldersAtRootArray">
          <td>{{item.name}}</td>
          <td>{{item.size}}</td>
          <td>{{item.dateModified}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>