<div class="file-list container">
  <div class="row">
    <div class="col-sm-6 pull-right">
      <div class="input-group">
        <new-folder [parentID]="null" (onSubmit)="createNewFolder($event)" ></new-folder>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of foldersAtRootArray">
          <td>{{item.name}}</td>
          <td>{{item.size}}</td>
          <td>{{item.dateModified}}</td>
          <td>
            <new-folder [parentID]="item._id" (onSubmit)="createNewFolder($event)"></new-folder>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>